<h3>publication onlist</h3>
<div>
    <div>
        {{#each mybuy}}
            <div>
                <div class="contain">
                    <div>
                        <div>
                    <h2>eee</h2>
                    <h6>{{title}}</h6>
                    <img src="{{img}}" alt="{{id}}">
                    <b>{{ubication}}</b>
                    <div>
                        <b>{{price}}</b>
                    </div>
                    <p>{{description}}</p>
                </div>
                    </div>
                </div>
            </div>
            {{else}}
        {{/each}}
    </div>
</div>